<div class="main-container" id="video-container">
  <div
    id="div"
    class="video-container"
  >
    <mat-card
      class="card"
      *ngFor="let video of videoStorage"
      infiniteScroll
      [infiniteScrollDistance]="3"
      [infiniteScrollThrottle]="1000"
      (scrolled)="loadMore()"
    >
      <img mat-card-image [src]="video?.snippet.thumbnails.medium.url" />
      <mat-card-content>
        <mat-card-title>
          <p>{{ video?.snippet.title | slice: 0:50 }}...</p>
        </mat-card-title>

        <mat-card-title>
          <p class="subtitle">
            {{ video?.snippet.channelTitle | slice: 0:100 }}
          </p>
        </mat-card-title>

        <mat-card-subtitle>
          <p>{{ video?.snippet.description | slice: 0:100 }}</p>
        </mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a [routerLink]="['/details', video.id.videoId]">
          <button mat-flat-button color="primary">Detalhes</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<app-loading *ngIf="loading" class="loading"></app-loading>

  <div class="error" *ngIf="init">
    <h3>Nenhum resultado encontrado</h3>
    <h3>Use palavras-chave diferentes ou remova os filtros de pesquisa</h3>
  </div>
